@font-face {
    font-family: 'ABC Diatype';
    src: url('https://betterwebproject.github.io/typographybandit/assets/type/ABC_Diatype.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
}

:root {
    --background-color: #222;
    --primary-color: lightgoldenrodyellow;
    --secondary-color: lightcyan;
    --font:  'ABC Diatype', Arial, Helvetica, sans-serif;
    --body-font-size: clamp(1.1rem,3vw,1.25rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: none;
}

html {
    font-size: 16px;
    cursor: url('https://betterwebproject.github.io/typographybandit/assets/graphics/hover.svg') 5 -5, auto;
}    

html a:hover {
    cursor: url('https://betterwebproject.github.io/typographybandit/assets/graphics/hover.svg') 5 -5,  auto;
}

body {
    margin: 0;
    background-color: var(--background-color);
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
	top: 0;
	left: 0;
    z-index: 4;
    width: 100%;
	height: 4rem;
    padding-right: clamp(1rem,3vw,1,5rem);
    padding-left: clamp(1rem,3vw,1.5rem);
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--background-color);
}

nav a {
    font-family: var(--font);
    font-size: var(--body-font-size);
    font-weight: 400;
    line-height: 1.5; 
    color: var(--primary-color)
}

nav a:nth-child(2) {
    padding: 0 1.5rem;
}

nav a.active {
    color: var(--secondary-color);
}

nav a:hover:not(nav a.active) {
    text-decoration: underline wavy;
    text-underline-offset: .3rem;
    color: var(--secondary-color);
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}

.page-inner {
    display: flex;
    justify-content: start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
}

.section {
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 45%;
    position: relative;
    min-height: 100vh; /*allows full height*/
    min-height: 100dvh;
    margin: auto 0; /*keeps content within viewport*/
    border-right: 1px solid var(--primary-color);
    background-color: var(--background-color);
}

.section:last-of-type {
    border: none;
}

.section-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2.5rem; 
}

.text { 
    width: 100%;
    max-width: 40rem;
    height: 120px;
    margin: 0 auto;
}   

p {
    font-family: var(--font);
    font-size: var(--body-font-size);
    line-height: 1.5; 
    margin: 0;
    color: lightcyan
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover:not(nav a) {
    text-decoration: underline wavy;
    text-underline-offset: .3rem;
    color: var(--primary-color);
}

h1 {
    font-family: var(--font);
    font-size: clamp(1.6rem,4.25vw,1.8rem);
    line-height: 1.4;
    color: var(--primary-color);
    margin: 0 0 1rem 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
	bottom: 0;
	left: 0;
    z-index: 4;
	width: 100%;
	height: 4rem;
    border-top: 2px solid var(--primary-color);
    text-align: center;
    background-color: var(--background-color);
}

footer p {
	color:  var(--primary-color);
}

/*Mobile*/

@media screen and (max-width: 1024px) {
    .page-inner {
        display: block;
    }

    .section {
        width: 100%;
        min-height: unset;
        padding: 4rem 1rem;
        border-right: none;
        border-bottom: 1px solid var(--primary-color);
    }

    .section:first-child {
        padding-top: 8rem;
    }

    .section:last-child {
        padding-bottom: 8rem;
    }

    .section-inner {
        padding: 0;
    }

    .text {
        height: unset;
        padding: 0;
    }
}