@font-face {
    font-family: 'ABC Diatype';
    src: url('https://betterwebproject.github.io/typographybandit/assets/type/ABC_Diatype.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
}

:root {
    --background-color: #222;
    --primary-color: lightgoldenrodyellow;
    --secondary-color: #e0ffff;
    --tertiary-color: lightpink;
    --quaternary-color: lightgreen;
    --font:  'ABC Diatype', Arial, Helvetica, sans-serif;
    --body-font-size: clamp(1.1rem,3vw,1.25rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 16px;
    cursor: url('https://betterwebproject.github.io/typographybandit/assets/graphics/cursor.svg') 10.5 -14, auto;
}    

html a:hover {
    cursor: url('https://betterwebproject.github.io/typographybandit/assets/graphics/cursor.svg') 10.5 -14,  auto;
}


body { 
    background: var(--background-color);
	margin: 0;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
	top: 0;
	left: 0;
    z-index: 4;
    width: 100%;
	height: 4rem;
    padding-right: clamp(1rem,3vw,1,5rem);
    padding-left: clamp(1rem,3vw,1.5rem);
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--background-color);
}

nav a {
    font-family: var(--font);
    font-size: var(--body-font-size);
    font-weight: 400;
    line-height: 1.5; 
    color: var(--primary-color)
}

nav a:nth-child(2) {
    padding: 0 1.5rem;
}

nav a.active {
    color: var(--secondary-color);
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

section {
    padding: 6rem 1.5rem;
}

section:first-of-type {
    padding-top: 10rem;
}

section:last-of-type {
    padding-bottom: 10rem;
}

.text {
    max-width: 40rem;
    margin: 0 auto;
}

p {
    font-family: var(--font);
    font-size: var(--body-font-size);
    line-height: 1.5;
    color: var(--secondary-color); 
}

a {
    text-decoration: none;
}

a:hover:not(nav a.active) {
    color: var(--primary-color);
    text-decoration: underline wavy;
    text-underline-offset: .4rem;
}

h1 {
    font-family: var(--font);
    font-size: clamp(1.6rem,4.25vw,1.8rem);
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    color: var(--primary-color);
    margin: 0 0 1.5rem;
}

h2 {
    display: inline-block;
    font-family: var(--font);
    font-size: clamp(1.031rem,2.5vw,1.063rem);
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid;
    color: var(--tertiary-color);
    margin: 1rem 0 1rem;
}

h2:nth-child(n+2) {
    margin-top: 2rem;
}

ul {
    list-style: upper-roman;
    list-style-position: inside;
}

li {
    font-family: var(--font);
    font-size: var(--body-font-size);
    line-height: 1.5;
}

hr {
    height: 2px;
    margin: 1rem 0;
    border: none;
    background: var(--primary-color);
}

/*Index*/

#home section {
        width: 100vw; /*allows full-bleed bottom border*/
        border-bottom: 2px solid var(--primary-color);
}

#about * {
    color: var(--secondary-color);
}

#best-practices *  {
    color: var(--tertiary-color);
}

#best-practices li {
    margin: 0 0 1.5rem 0;
}

#resources *:not(a:hover) {
    color: var(--quaternary-color);
}

#resources li {
    list-style: none;
    margin: 0;
}

/*------*/

/*Info*/

#info .text  {
    max-width: 40rem;
}

/*------*/

/*404*/

#error .text a {
    color: var(--primary-color);
}

svg.arrow-right {
    width: clamp(12px,1.75vw,13px);
}

/*------*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4rem;
    border-top: 2px solid var(--primary-color);
    text-align: center;
    background-color: var(--background-color)
}

footer p {
	color:  var(--primary-color);
}

/*Mobile*/

@media screen and (max-width: 768px) {
    .page {
        justify-content: flex-start;
    }

    section {
        padding: 5rem 1rem;
    }

    section:first-of-type {
        padding-top: 8rem;
    }
    
    section:last-of-type {
        padding-bottom: 8rem;
    }
}